{"swagger":"2.0","info":{"version":"v2","title":"eSPACE API v2"},"host":"api.espace.cool","schemes":["https"],"paths":{"/api/v2/ministry/equipment":{"get":{"tags":["Equipment"],"summary":"This service returns details of a specific equipment","description":"","operationId":"Equipment_Equipment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentId","in":"query","description":"integer - Id of equipment to look up","required":true,"type":"integer","format":"int64"},{"name":"include","in":"query","description":"A comma-separated list of related objects to include in the returned object, otherwise will return null in the properties.  Can be any of:\r\n            Space, WorkOrders","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiEquipmentInfoDtoWithRelatedObjects"}}}}},"/api/v2/ministry/equipment/list":{"get":{"tags":["Equipment"],"summary":"This service returns a list of equipment","description":"","operationId":"Equipment_EquipmentList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentName","in":"query","description":"[optional] string - Full or partial name of equipment","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"[optional] string - Full or partial name of manufacturer","required":false,"type":"string"},{"name":"locationIds","in":"query","description":"[optional] Integer or list - Location Ids by comma separated","required":false,"type":"string"},{"name":"category","in":"query","description":"[optional] List of category names or ids","required":false,"type":"string"},{"name":"dateInServiceFrom","in":"query","description":"[optional] date, inclusive - starting date of when equpiment in service","required":false,"type":"string"},{"name":"dateInServiceTo","in":"query","description":"[optional] date, inclusive - ending date of when equpiment in service","required":false,"type":"string"},{"name":"warrantyExpPartsFrom","in":"query","description":"[optional] date, inclusive - starting date of when parts warranty expires","required":false,"type":"string"},{"name":"warrantyExpPartsTo","in":"query","description":"[optional] date, inclusive - ending date of when parts warranty expires","required":false,"type":"string"},{"name":"warrantyExpLaborFrom","in":"query","description":"[optional] date, inclusive - starting date of when Labor warranty expires","required":false,"type":"string"},{"name":"warrantyExpLaborTo","in":"query","description":"[optional] date, inclusive - ending date of when Labor warranty expires","required":false,"type":"string"},{"name":"barcode","in":"query","description":"[optional] string - Full or partial barcode or equipment identifier","required":false,"type":"string"},{"name":"top","in":"query","description":"[optional] Number of records to return","required":false,"type":"string"},{"name":"retiredStatus","in":"query","description":"[optional] Integer - 1 to return non-retired equipment, 2 to return retired","required":false,"type":"string"},{"name":"type","in":"query","description":"[optional] Integer - 1 to return non-vehicles, 2 to return vehicles","required":false,"type":"string"},{"name":"onlyPastDue","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiEquipmentInfoDto"}}}}},"/api/v2/ministry/equipment/space":{"get":{"tags":["Equipment"],"summary":"This service returns the space (if any) associated with an equipment.","description":"","operationId":"Equipment_Space","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentId","in":"query","description":"The equipment Id for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiItemInfo"}}}}},"/api/v2/ministry/equipment/workorders":{"get":{"tags":["Equipment"],"summary":"This service returns the space (if any) associated with an equipment.","description":"","operationId":"Equipment_WorkOrders","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentId","in":"query","description":"The equipment Id for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiItemInfo"}}}}},"/api/v2/ministry/equipment/type":{"get":{"tags":["Equipment"],"summary":"This service returns all of the available equipment types and their associated ids.","operationId":"Equipment_EquipmentTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/ministry/trackingmetrictype":{"get":{"tags":["Equipment"],"summary":"This service returns all of the available tracking metric types and their associated ids.","operationId":"Equipment_TrackingMetricTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/ministry/vehicleUpdateFrequencyTypes":{"get":{"tags":["Equipment"],"summary":"This service returns all of the available vehicle update frequency types and their associated ids.","operationId":"Equipment_VehicleUpdateFrequencyTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/ministry/equipment/create":{"post":{"tags":["Equipment"],"summary":"This service allows you to create a new piece of equipment","operationId":"Equipment_Create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/EquipmentInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiEquipmentInfoDtoWithRelatedObjects"}}}}},"/api/v2/ministry/equipment/update":{"put":{"tags":["Equipment"],"summary":"This service allows you to update a piece of equipment","operationId":"Equipment_Update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/EquipmentInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiEquipmentInfoDtoWithRelatedObjects"}}}}},"/api/v2/ministry/equipment/delete":{"delete":{"tags":["Equipment"],"summary":"This service allows you to delete a piece of equipment","operationId":"Equipment_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"equipmentId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EquipmentDeleteOutputModel"}}}}},"/api/v2/event":{"get":{"tags":["Event"],"summary":"This service returns the details of an event.","description":"","operationId":"EventV2_Event","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The eventId for the requested information","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The scheduleId for the requested information","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventGetModel"}}}}},"/api/v2/event/list":{"get":{"tags":["Event"],"summary":"This service returns details of a list of events.","description":"Note: this endpoint will return a maximum of 2000 events. If a particular event is missing a scheduled it will not be returned from this endpoint.","operationId":"EventV2_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"nextDays","in":"query","description":"Retrieve events for next X days.","required":false,"type":"integer","format":"int32"},{"name":"eventName","in":"query","description":"Retrieve event by name.","required":false,"type":"string"},{"name":"startDate","in":"query","description":"Retrieve all events that start on/after date","required":false,"type":"string"},{"name":"endDate","in":"query","description":"Retrieve all events that end on/before date","required":false,"type":"string"},{"name":"categoryIds","in":"query","description":"Retrieve all events by category ids","required":false,"type":"string"},{"name":"locationIds","in":"query","description":"Retrieve all events by location ids","required":false,"type":"string"},{"name":"categoryNames","in":"query","description":"Retrieve all events by category names","required":false,"type":"string"},{"name":"locCodes","in":"query","description":"Retrieve all events by location codes","required":false,"type":"string"},{"name":"topX","in":"query","description":"Retrieve next X events","required":false,"type":"integer","format":"int32"},{"name":"publicOnly","in":"query","description":"Set to true to only retrieve public events","required":false,"type":"boolean"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/EventGetModel"}}}}}},"/api/v2/event/occurrences":{"get":{"tags":["Event"],"summary":"This service returns a list of event occurrences","description":"Note: this endpoint will return a maximum of 2000 occurrences, however it defaults to 200 records returned. If you need more than 200 records returned you must supply the `topX` parameter with a value up to 2000.","operationId":"EventV2_Occurrences","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"Retrieve occurrences by event id","required":false,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"Retrieve occurrences by scheduleid id","required":false,"type":"integer","format":"int64"},{"name":"occurrenceId","in":"query","description":"Retrieve occurrences by occurrence id","required":false,"type":"integer","format":"int64"},{"name":"nextDays","in":"query","description":"Retrieve occurrences for next X days","required":false,"type":"integer","format":"int32"},{"name":"eventName","in":"query","description":"Retrieve occurrnces by name.","required":false,"type":"string"},{"name":"startDate","in":"query","description":"Retrieve all occurrences that start on/after date","required":false,"type":"string"},{"name":"endDate","in":"query","description":"Retrieve all occurrences that end on/before date","required":false,"type":"string"},{"name":"categoryIds","in":"query","description":"Retrieve all occurrences by category ids","required":false,"type":"string"},{"name":"locationIds","in":"query","description":"Retrieve all occurrences by location ids","required":false,"type":"string"},{"name":"categoryNames","in":"query","description":"Retrieve all occurrences by category names","required":false,"type":"string"},{"name":"locCodes","in":"query","description":"Retrieve all occurrences by location codes","required":false,"type":"string"},{"name":"topX","in":"query","description":"Retrieve next X events","required":false,"type":"integer","format":"int32"},{"name":"publicOnly","in":"query","description":"Set to true to only retrieve public events","required":false,"type":"boolean"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/EventOccurrenceApiInfo"}}}}}},"/api/v2/event/spaces":{"get":{"tags":["Event"],"summary":"This service returns the spaces for an event","description":"Spaces are Rooms where events are held.","operationId":"EventV2_Spaces","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The eventId for the requested information","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The scheduleId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MobileTreeNode"}}}}},"/api/v2/event/resources":{"get":{"tags":["Event"],"summary":"This service returns the resources for an event","description":"Resources are assets like Tables/Chairs/etc.","operationId":"EventV2_Resources","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The eventId for the requested information","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The scheduleId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MobileTreeNode"}}}}},"/api/v2/event/services":{"get":{"tags":["Event"],"summary":"This service returns the services for an event","description":"Services are things that require human interaction (Food Service, Tech, etc)","operationId":"EventV2_Services","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The eventId for the requested information","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The scheduleId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MobileTreeNode"}}}}},"/api/v2/event/create":{"post":{"tags":["Event"],"summary":"This service allows you to create a new event","operationId":"EventV2_Create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"This is the request body to add an event","required":true,"schema":{"$ref":"#/definitions/EventCreateModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/spaces/add":{"post":{"tags":["Event"],"summary":"This service allows you to add new spaces to an event.","operationId":"EventV2_AddSpaces","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are adding spaces to","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are adding spaces to","required":true,"type":"integer","format":"int64"},{"name":"spaceIds","in":"body","description":"List of comma seperated space ids to add.","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/event/resources/add":{"post":{"tags":["Event"],"summary":"This service allows you to add new resources to an event.","operationId":"EventV2_AddResources","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are adding resources to","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are adding resources to","required":true,"type":"integer","format":"int64"},{"name":"resources","in":"body","description":"List of comma seperated resource ids to add.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ResourceItem"}}}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/event/services/add":{"post":{"tags":["Event"],"summary":"This service allows you to add new services to an event.","operationId":"EventV2_AddServices","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are adding services to","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are adding services to","required":true,"type":"integer","format":"int64"},{"name":"serviceIds","in":"body","description":"List of comma seperated services ids to add.","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/event/update":{"put":{"tags":["Event"],"summary":"This service allows you to make changes a new event","operationId":"EventV2_Update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"This is the request body to add an event","required":true,"schema":{"$ref":"#/definitions/EventCreateModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/updatepublicinfo":{"put":{"tags":["Event"],"summary":"This service allows you to update public info of an event","operationId":"EventV2_UpdatePublicInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"This is the request body to update public info of an event","required":true,"schema":{"$ref":"#/definitions/EventUpdatePublicInfo"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/updatepubliclink":{"put":{"tags":["Event"],"summary":"This service allows you to update public link of an event","operationId":"EventV2_UpdatePublicLink","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"This is the request body to update public link of an event","required":true,"schema":{"$ref":"#/definitions/EventUpdatePublicLink"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/submit":{"put":{"tags":["Event"],"summary":"This service allows you to submit an event for approval.","operationId":"EventV2_Submit","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are submitting","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are submitting","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/cancel":{"put":{"tags":["Event"],"summary":"This service allows you to cancel an event.","operationId":"EventV2_Cancel","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are canceling","required":true,"type":"integer","format":"int64"},{"name":"reason","in":"query","description":"The cancel reason of the event","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/delete":{"delete":{"tags":["Event"],"summary":"This service allows you to delete an event.","operationId":"EventV2_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are deleting","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/spaces/remove":{"delete":{"tags":["Event"],"summary":"This service allows you to remove a space(s) from an event.","operationId":"EventV2_RemoveSpaces","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are removing spaces from","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are removing spaces from","required":true,"type":"integer","format":"int64"},{"name":"spaces","in":"body","description":"The spaces (comma delimited) that you are removing","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/resources/delete":{"delete":{"tags":["Event"],"summary":"This service allows you to remove a resource(s) from an event.","operationId":"EventV2_RemoveResources","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are removing resources from","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are removing resources from","required":true,"type":"integer","format":"int64"},{"name":"resourceIds","in":"body","description":"The resources (comma delimited) that you are removing","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/event/services/delete":{"delete":{"tags":["Event"],"summary":"This service allows you to remove a service(s) from an event.","operationId":"EventV2_RemoveServices","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventId","in":"query","description":"The event id that you are removing services from","required":true,"type":"integer","format":"int64"},{"name":"scheduleId","in":"query","description":"The schedule id that you are removing services from","required":true,"type":"integer","format":"int64"},{"name":"serviceIds","in":"body","description":"The services (comma delimited) that you are removing","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/EventCreatedApiModel"}}}}},"/api/v2/inventoryrequest":{"get":{"tags":["InventoryRequest"],"summary":"This service returns the details of a work order.","description":"","operationId":"InventoryRequest_InventoryRequest","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inventoryRequestID","in":"query","description":"The inventoryRequestID for the requested information","required":true,"type":"integer","format":"int64"},{"name":"include","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/inventoryrequest/list":{"get":{"tags":["InventoryRequest"],"summary":"This service returns a list of work orders","description":"","operationId":"InventoryRequest_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"statusId","in":"query","description":"[optional] To filter by the work order's status.  Single integer accepted, 1: Draft, 2: Pending Approval, 3: Approved, 4: Completed, 5: Declined, 6: In Progress","required":false,"type":"string"},{"name":"requestedDateRangeFrom","in":"query","description":"[optional] start of date range for when IRs were requested (inclusive)","required":false,"type":"string"},{"name":"requestedDateRangeThrough","in":"query","description":"[optional] end of date range for when IRs were requested (inclusive)","required":false,"type":"string"},{"name":"completionDateRangeFrom","in":"query","description":"[optional] start of date range for when IRs were completed (inclusive)","required":false,"type":"string"},{"name":"completionDateRangeThrough","in":"query","description":"[optional] end of date range for when IRs were completed (inclusive)","required":false,"type":"string"},{"name":"assignedToUserID","in":"query","description":"[optional] The assigned User's ID","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiInventoryRequestDto"}}}}},"/api/v2/item/list":{"get":{"tags":["Items"],"summary":"This service returns a list of items","description":"","operationId":"ItemV2_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"type","in":"query","description":"Item type, can be space, resource, service, don't pass it at all if you want to get all items","required":false,"type":"string"},{"name":"itemId","in":"query","description":"Item Id, pass this parameter","required":false,"type":"integer","format":"int64"},{"name":"locationIds","in":"query","description":"Location Ids by comma separated, don't pass it at all if you want to get all items","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiItemInfo"}}}}},"/api/v2/maintenance":{"get":{"tags":["Maintenance"],"summary":"This service returns the details of a work order.","description":"","operationId":"Maintenance_Maintenance","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceID","in":"query","description":"The maintenanceID for the requested information","required":true,"type":"integer","format":"int64"},{"name":"include","in":"query","description":"A comma-separated list of related objects to include in the returned object, otherwise will return null in the properties.  Can be any of:\r\n            Spaces, Tasks, Equipment, Attachments, WorkOrders","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/list":{"get":{"tags":["Maintenance"],"summary":"This service returns a list of work orders","description":"","operationId":"Maintenance_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationIds","in":"query","description":"[optional] Location Ids by comma separated","required":false,"type":"string"},{"name":"equipmentIds","in":"query","description":"[optional] List of equipment ids that any maintenance item is associated with","required":false,"type":"string"},{"name":"category","in":"query","description":"[optional] List of category names or ids","required":false,"type":"string"},{"name":"assignedID","in":"query","description":"[optional] The assigned user ID","required":false,"type":"string"},{"name":"assignedDepartmentID","in":"query","description":"[optional] The assigned Department ID","required":false,"type":"string"},{"name":"vendorAssignedID","in":"query","description":"[optional] The assigned Vendor ID","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/spaces":{"get":{"tags":["Maintenance"],"summary":"This service returns the spaces associated with a scheduled maintenance item.","description":"","operationId":"Maintenance_Spaces","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceID","in":"query","description":"The maintenanceID for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiItemInfo"}}}}},"/api/v2/maintenance/tasks":{"get":{"tags":["Maintenance"],"summary":"This service returns the tasks associated with a scheduled maintenance item.","description":"","operationId":"Maintenance_Tasks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceID","in":"query","description":"The maintenanceID for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiScheduledMaintenanceTask"}}}}},"/api/v2/maintenance/attachments":{"get":{"tags":["Maintenance"],"summary":"This service returns the file attachments associated with a scheduled maintenance item.","description":"","operationId":"Maintenance_Attachments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceID","in":"query","description":"The maintenanceID for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiDocumentInfo"}}}}},"/api/v2/maintenance/workorders":{"get":{"tags":["Maintenance"],"summary":"This service returns the file attachments associated with a scheduled maintenance item.","description":"","operationId":"Maintenance_WorkOrders","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceID","in":"query","description":"The maintenanceID for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/maintenance/maintenancetype":{"get":{"tags":["Maintenance"],"summary":"This service returns all of the available maintenance types and their associated ids.","operationId":"Maintenance_MaintenanceType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/maintenance/frequencytype":{"get":{"tags":["Maintenance"],"summary":"This service returns all of the available frequency types and their associated ids.","operationId":"Maintenance_FrequencyType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/maintenance/remindertype":{"get":{"tags":["Maintenance"],"summary":"This service returns all of the available reminder types and their associated ids.","operationId":"Maintenance_ReminderType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericApiModel[Dictionary[Int32,String]]"}}}}},"/api/v2/maintenance/create":{"post":{"tags":["Maintenance"],"summary":"This service allows you to create a new scheduled maintenance object in the system.","operationId":"Maintenance_CreateMaintenance","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceCreateInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/space/add":{"post":{"tags":["Maintenance"],"summary":"This service allows you to add a space to a scheduled maintenance item.","operationId":"Maintenance_AddSpaces","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"spaces","in":"body","description":"","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/task/create":{"post":{"tags":["Maintenance"],"summary":"The services allows you to add a task to a scheduled maintenance item.","operationId":"Maintenance_CreateTask","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceCreateTaskInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/update":{"put":{"tags":["Maintenance"],"summary":"This service allows you to create a new scheduled maintenance object in the system.","operationId":"Maintenance_UpdateMaintenance","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceUpdateInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/task/update":{"put":{"tags":["Maintenance"],"summary":"This service allows you to update a task on a scheduled maintenance item.","operationId":"Maintenance_UpdateTask","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceUpdateTaskInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/delete":{"delete":{"tags":["Maintenance"],"summary":"This service allows you to delete a scheduled maintenance object in the system.","operationId":"Maintenance_DeleteMaintenance","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MaintenanceDeleteOutputModel"}}}}},"/api/v2/maintenance/space/delete":{"delete":{"tags":["Maintenance"],"summary":"The service allows you to remove a space from a scheduled maintenance item.","operationId":"Maintenance_DeleteSpaces","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"maintenanceId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"spaces","in":"body","description":"","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/maintenance/task/delete":{"delete":{"tags":["Maintenance"],"summary":"This service allows you to delete a task on a scheduled maintenance item.","operationId":"Maintenance_DeleteTask","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiScheduledMaintenance"}}}}},"/api/v2/ministry/categories":{"get":{"tags":["Ministry"],"summary":"This service allows you to retrieve all categories for a ministry","operationId":"MinistryV2_Categories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MinistryEventCategory"}}}}},"/api/v2/ministry/servicecategories":{"get":{"tags":["Ministry"],"summary":"This service allows a customer to retrieve service categories for their authenticated ministry.","description":"Protected by feature flag: api_SuperUserEndpoints_New_18378911653\r\n            \r\nOptional filters:\r\n- **includeVehicleSpecific**: Include or exclude vehicle-specific categories","operationId":"MinistryV2_ServiceCategories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"includeVehicleSpecific","in":"query","description":"Optional: Include vehicle-specific categories","required":false,"type":"boolean"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GetServiceCategoriesResponse"}}}}},"/api/v2/ministry/locations":{"get":{"tags":["Ministry"],"summary":"This service allows you to retrieve all locations for a ministry","operationId":"MinistryV2_Locations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MinistryLocation"}}}}},"/api/v2/ministry/editors":{"get":{"tags":["Ministry"],"summary":"This service allows you to retrieve all event editors for a ministry","operationId":"MinistryV2_Editors","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MinistryEventEditor"}}}}},"/api/v2/ministry/users":{"get":{"tags":["Ministry"],"summary":"This service allows you to retrieve all users for a ministry","operationId":"MinistryV2_Users","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"email","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/MinistryUser"}}}}},"/api/v2/ministry/inventory/current":{"get":{"tags":["Ministry"],"summary":"Returns all of the inventory that an organization has on hand.  Returns one record per item per location.","description":"","operationId":"MinistryV2_CurrentInventory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInventoryItemInfoDto"}}}}}},"/api/v2/ministry/inventory/item":{"get":{"tags":["Ministry"],"summary":"Returns details of a specific inventory item.   Returns one record per item per location.","description":"","operationId":"MinistryV2_InventoryItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"itemId","in":"query","description":"The item Id for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInventoryItemInfoDto"}}}}}},"/api/v2/ministry/inventory/item/list":{"get":{"tags":["Ministry"],"summary":"Returns a list of inventory items based on criteria. Returns one record per item per location.","description":"","operationId":"MinistryV2_InventoryList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"query","description":"A full or partial string to search in the name of the item.","required":false,"type":"string"},{"name":"currentlyOnHand","in":"query","description":"Specify 1 to only get items with a positive quantity on hand, specify 0 to get only items with 0 or negative quantity on hand.","required":false,"type":"boolean"},{"name":"itemTypeId","in":"query","description":"An id of an item type.","required":false,"type":"integer","format":"int64"},{"name":"barcode","in":"query","description":"Matches against exact string.","required":false,"type":"string"},{"name":"locationId","in":"query","description":"Filter items to only a specific location.","required":false,"type":"integer","format":"int64"},{"name":"vendorId","in":"query","description":"Filter items to only a specific vendor.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInventoryItemInfoDto"}}}}}},"/api/v2/ministry/inventory/type":{"get":{"tags":["Ministry"],"summary":"Returns details of an item type.","description":"","operationId":"MinistryV2_InventoryItemType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"itemTypeId","in":"query","description":"An id of an item type.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/InventoryItemTypeInfoDto"}}}}},"/api/v2/ministry/inventory/type/list":{"get":{"tags":["Ministry"],"summary":"Returns a list of inventory types.","description":"","operationId":"MinistryV2_InventoryItemTypeList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"query","description":"Find item types by full or partial string search.","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/InventoryItemTypeInfoDto"}}}}}},"/api/v2/ministry/inventory/group":{"get":{"tags":["Ministry"],"summary":"Returns a details of an inventory item group including inventory items that are in the group.","description":"","operationId":"MinistryV2_InventoryItemGroup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"itemGroupId","in":"query","description":"An id of an item group.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiInventoryGroupWithRelatedObjectsDto"}}}}},"/api/v2/ministry/inventory/group/list":{"get":{"tags":["Ministry"],"summary":"Returns a list of inventory groups.","description":"","operationId":"MinistryV2_InventoryItemGroupList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"query","description":"Find item types by full or partial string search.","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInventoryGroupDto"}}}}}},"/api/v2/ministry/task":{"get":{"tags":["Ministry"],"summary":"Returns details of a specific task.","description":"","operationId":"MinistryV2_Task","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskId","in":"query","description":"The item Id for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiTaskTemplateInfoDto"}}}}},"/api/v2/ministry/task/list":{"get":{"tags":["Ministry"],"summary":"Returns a list of tasks based on criteria. Returns one record per item per location.","description":"","operationId":"MinistryV2_TaskList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"description","in":"query","description":"Full or partial string search in task description.","required":false,"type":"string"},{"name":"groupId","in":"query","description":"An id of an task template group to filter by.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiTaskTemplateInfoDto"}}}}}},"/api/v2/ministry/task/group":{"get":{"tags":["Ministry"],"summary":"Returns a details of an task group including tasks that are in the group.","description":"","operationId":"MinistryV2_InventoryTaskGroup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskGroupId","in":"query","description":"An id of an group.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiTaskTemplateGroupWithTasks"}}}}},"/api/v2/ministry/task/group/list":{"get":{"tags":["Ministry"],"summary":"Returns a list of task groups.","description":"","operationId":"MinistryV2_InventoryTaskGroupList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"query","description":"Find groups by full or partial string search.","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/ApiTaskTemplateGroupDto"}}}}}},"/api/v2/ministry/inventory/current/update":{"put":{"tags":["Ministry"],"summary":"this service allows you to update the quantity of an inventory item","operationId":"MinistryV2_InventoryUpdateCurrent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"inventoryItemId","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/InventoryUpdateInputModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInventoryItemInfoDto"}}}}}},"/api/v2/requesttoken":{"post":{"tags":["RequestToken"],"summary":"This service will grant a JWT token for use with the API endpoints that require it","operationId":"RequestToken_RequestToken","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"loginData","in":"body","description":"The user's info to request the JWT token","required":true,"schema":{"$ref":"#/definitions/RequestJWTTokenData"}}],"responses":{"200":{"description":"","schema":{"type":"string"}}}}},"/api/v2/webhook/list":{"get":{"tags":["WebHook"],"summary":"This service allows you to retrieve all webhooks","operationId":"WebHookV2_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/VmWebhookSubscripotion"}}}}},"/api/v2/webhook/create":{"post":{"tags":["WebHook"],"summary":"This service allows you to create a webhook","operationId":"WebHookV2_Create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/WebHookCreateApiModel"}}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/webhook/edit":{"put":{"tags":["WebHook"],"summary":"This service allows you to edit a webhook","operationId":"WebHookV2_Edit","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/WebHookCreateApiModel"}}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/webhook/delete":{"delete":{"tags":["WebHook"],"summary":"This service allows you to delete a webhook","operationId":"WebHookV2_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/webhook/webhookevents":{"get":{"tags":["WebHook"],"summary":"This service allows you to retrieve all webhook events","operationId":"WebHookV2_WebhookEvents","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"type":"object"}}}}},"/api/v2/workorder/delete":{"delete":{"tags":["WorkOrder"],"summary":"This service allows you to delete a work order","operationId":"WorkOrder_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WorkOrderDeleteReturnModel"}}}}},"/api/v2/workorder/spaces/remove":{"delete":{"tags":["WorkOrder"],"summary":"This service allows you to remove spaces from a work order","operationId":"WorkOrder_SpacesRemove","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"spaceIds","in":"body","description":"","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/delete":{"delete":{"tags":["WorkOrder"],"summary":"This service allows you to delete a cost from a work order","operationId":"WorkOrder_DeleteCosts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"costId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/tasks/delete":{"delete":{"tags":["WorkOrder"],"summary":"This service allows you to delete a task from a work order","operationId":"WorkOrder_DeleteTask","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskId","in":"query","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder":{"get":{"tags":["WorkOrder"],"summary":"This service returns the details of a work order.","description":"","operationId":"WorkOrder_WorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":true,"type":"integer","format":"int64"},{"name":"include","in":"query","description":"A comma-separated list of related objects to include in the returned object, otherwise will return null in the properties.  Can be any of:\r\n            Costs, Spaces, Tasks, Attachments","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/list":{"get":{"tags":["WorkOrder"],"summary":"This service returns a list of work orders","description":"","operationId":"WorkOrder_List","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"type","in":"query","description":"[optional] The type of work order to return.  Can be one of:  All, Mine, Unassigned, Vendor","required":false,"type":"string"},{"name":"statusId","in":"query","description":"[optional] To filter by the work order's status.  Single integer accepted.","required":false,"type":"string"},{"name":"locationIds","in":"query","description":"[optional] Location Ids by comma separated","required":false,"type":"string"},{"name":"priority","in":"query","description":"[optional] List of priority names or ids","required":false,"type":"string"},{"name":"category","in":"query","description":"[optional] List of category names or ids","required":false,"type":"string"},{"name":"startDate","in":"query","description":"[optional] Requested completion date on or after this date","required":false,"type":"string"},{"name":"endDate","in":"query","description":"[optional] Requested completion date on or before this date","required":false,"type":"string"},{"name":"assignedID","in":"query","description":"[optional] The assigned user ID","required":false,"type":"string"},{"name":"assignedDepartmentID","in":"query","description":"[optional] The assigned Department ID","required":false,"type":"string"},{"name":"vendorAssignedID","in":"query","description":"[optional] The assigned Vendor ID","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/spaces":{"get":{"tags":["WorkOrder"],"summary":"This service returns the spaces associated with a work order.","description":"","operationId":"WorkOrder_Spaces","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiItemInfo"}}}}},"/api/v2/workorder/costs":{"get":{"tags":["WorkOrder"],"summary":"This service returns the costs associated with a work order.","description":"","operationId":"WorkOrder_Costs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderCostDTO"}}}}},"/api/v2/workorder/tasks":{"get":{"tags":["WorkOrder"],"summary":"This service returns the tasks associated with a work order.","description":"","operationId":"WorkOrder_Tasks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/WorkOrderTaskDto"}}}}},"/api/v2/workorder/attachments":{"get":{"tags":["WorkOrder"],"summary":"This service returns the file attachments associated with a work order.","description":"","operationId":"WorkOrder_Attachments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiDocumentInfo"}}}}},"/api/v2/workorder/priority":{"get":{"tags":["WorkOrder"],"summary":"This service returns the priorities of all work orders or the specific priority of a passed work order.","description":"","operationId":"WorkOrder_Priority","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/WorkOrderPriorityReturnModelItems"}}}}},"/api/v2/workorder/status":{"get":{"tags":["WorkOrder"],"summary":"This service returns the statuses of all work orders or the specific status of a passed work order.","description":"","operationId":"WorkOrder_Status","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"The workOrderId for the requested information","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/WorkOrderStatusReturnModelItems"}}}}},"/api/v2/workorder/create":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to create a new work order","operationId":"WorkOrder_Create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"This is the request body to add a work order","required":true,"schema":{"$ref":"#/definitions/WorkOrderCreateModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/spaces/add":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add spaces to a work order","operationId":"WorkOrder_SpacesAdd","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"spaceIds","in":"body","description":"","required":true,"schema":{"type":"array","items":{"format":"int64","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/add/equipment":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add an equipment cost to a work order","operationId":"WorkOrder_AddEquipmentCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddEquipmentCostInputModel"}},{"name":"costTypeId","in":"query","description":"","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/add/inventory":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add an inventory cost to a work order","operationId":"WorkOrder_AddInventoryCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddInventoryCostInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/add/miscellaneous":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add a miscellaneous cost to a work order","operationId":"WorkOrder_AddMiscCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddMiscCostInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/add/labor":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add a labor or time cost to a work order","operationId":"WorkOrder_AddLaborCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddLaborCostInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/add/vehicle":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add a vehicle cost to a work order","operationId":"WorkOrder_AddVehicleCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddVehicleCostInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/tasks/add":{"post":{"tags":["WorkOrder"],"summary":"This service allows you to add a task to a work order","operationId":"WorkOrder_AddTasks","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderAddTaskInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/update":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update a work order","operationId":"WorkOrder_Update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/update/equipment":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update an equipment cost on a work order","operationId":"WorkOrder_UpdateEquipmentCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateEquipmentCostInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/update/vehicle":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update an equipment cost on a work order","operationId":"WorkOrder_UpdateVehicleCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateVehicleCostInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/update/inventory":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update details about inventory costs on a work order","operationId":"WorkOrder_UpdateInventoryCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateInventoryCostInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/update/miscellaneous":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update details about misc costs on a work order","operationId":"WorkOrder_UpdateMiscCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateMiscCostInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/costs/update/labor":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update details about labor costs on a work order","operationId":"WorkOrder_UpdateLaborCosts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateLaborCostInputModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}},"/api/v2/workorder/tasks/update":{"put":{"tags":["WorkOrder"],"summary":"This service allows you to update a task on a work order","operationId":"WorkOrder_UpdateTask","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"taskId","in":"query","description":"","required":true,"type":"integer","format":"int64"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/WorkOrderUpdateTaskInputModel"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}}}},"definitions":{"ApiEquipmentInfoDtoWithRelatedObjects":{"type":"object","properties":{"Space":{"$ref":"#/definitions/ApiItemInfo"},"WorkOrders":{"type":"array","items":{"$ref":"#/definitions/ApiWorkOrderInfo"}},"Id":{"format":"int64","type":"integer"},"Name":{"type":"string"},"Barcode":{"type":"string"},"Description":{"type":"string"},"Manfacturer":{"type":"string"},"Model":{"type":"string"},"SerialNumber":{"type":"string"},"DateInService":{"format":"date-time","type":"string"},"WarrantyPartExpDate":{"format":"date-time","type":"string"},"WarrantyLaborExpDate":{"format":"date-time","type":"string"},"RetiredDate":{"format":"date-time","type":"string"},"SpaceId":{"format":"int64","type":"integer"},"SpaceName":{"type":"string"},"ServiceCategoryName":{"type":"string"},"LocationId":{"format":"int64","type":"integer"},"LocationName":{"type":"string"},"Type":{"enum":["Equipment","Vehicle"],"type":"string"},"TrackingMetricType":{"enum":["Mileage","RuntimeHours"],"type":"string"},"IsVehicle":{"type":"boolean","readOnly":true}}},"ApiItemInfo":{"type":"object","properties":{"ItemId":{"format":"int64","type":"integer"},"ItemType":{"type":"string"},"Name":{"type":"string"},"LocationName":{"type":"string"},"LocationId":{"format":"int64","type":"integer"},"Parent_id":{"format":"int64","type":"integer"},"ParentName":{"type":"string"},"IsSchedulable":{"type":"boolean"},"MaxCapacity":{"format":"int32","type":"integer"}}},"ApiWorkOrderInfo":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"WorkOrderNumber":{"format":"int32","type":"integer"},"ShortDescription":{"type":"string"},"FullDescription":{"type":"string"},"LocationName":{"type":"string"},"LocationId":{"format":"int64","type":"integer"},"SpaceNames":{"type":"string"},"ServiceCategory":{"type":"string"},"ServiceCategoryId":{"format":"int64","type":"integer"},"StatusId":{"format":"int32","type":"integer"},"Status":{"type":"string"},"Priority":{"type":"string"},"Eta":{"format":"date-time","type":"string"},"EtaDisplay":{"type":"string"},"AssignedId":{"format":"int64","type":"integer"},"AssignedTo":{"type":"string"},"VendorAssignedName":{"type":"string"},"VendorAssignedId":{"format":"int64","type":"integer"},"VendorContactId":{"format":"int64","type":"integer"},"AssignedDepartmentId":{"format":"int64","type":"integer"},"HasSpaces":{"type":"boolean"},"Spaces":{"type":"array","items":{"$ref":"#/definitions/ApiItemInfo"}},"HasCosts":{"type":"boolean"},"Costs":{"type":"array","items":{"$ref":"#/definitions/ApiWorkOrderCostDTO"}},"HasTasks":{"type":"boolean"},"Tasks":{"type":"array","items":{"$ref":"#/definitions/WorkOrderTaskDto"}},"HasAttachments":{"type":"boolean"},"Attachments":{"type":"array","items":{"$ref":"#/definitions/ApiDocumentInfo"}}}},"ApiWorkOrderCostDTO":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"Quantity":{"format":"int32","type":"integer"},"UnitPrice":{"format":"double","type":"number"},"EstimatedLaborCost":{"format":"double","type":"number"},"EstimatedMaterialsCost":{"format":"double","type":"number"},"ActualLaborCost":{"format":"double","type":"number"},"ActualMaterialsCosts":{"format":"double","type":"number"},"ItemName":{"type":"string"},"WorkOrderEquipmentId":{"format":"int64","type":"integer"},"WorkOrderInventoryId":{"format":"int64","type":"integer"},"WorkOrderNumber":{"format":"int32","type":"integer"},"CostTypeDisplay":{"type":"string"},"MemberId":{"format":"int64","type":"integer"},"MemberFullName":{"type":"string"},"DateOfWork":{"format":"date-time","type":"string"},"VendorName":{"type":"string"},"VendorId":{"format":"int64","type":"integer"},"TotalCompletedMinutes":{"format":"int32","type":"integer"},"TotalCompletedHoursToDisplay":{"type":"string","readOnly":true}}},"WorkOrderTaskDto":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"AssignedTo":{"type":"string"},"CompletedBy":{"type":"string"},"Description":{"type":"string"},"DueDate":{"format":"date-time","type":"string"},"IsCompleted":{"type":"boolean"},"DateCompleted":{"format":"date-time","type":"string"},"TimeZone":{"type":"string"},"WorkOrderId":{"format":"int64","type":"integer"},"TotalMinutes":{"format":"int32","type":"integer"},"TotalCompletedMinutes":{"format":"int32","type":"integer"},"AssignedToVendorId":{"format":"int64","type":"integer"},"AssignedToVendorContactId":{"format":"int64","type":"integer"},"AssignedToUserId":{"format":"int64","type":"integer"},"AssignedToDepartmentId":{"format":"int64","type":"integer"},"WorkOrderCostId":{"format":"int64","type":"integer"},"TotalCompleteMinutesItemCost":{"format":"int32","type":"integer"},"TotalEstimatedMinutesItemCost":{"format":"int32","type":"integer"}}},"ApiDocumentInfo":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"Title":{"type":"string"},"FileName":{"type":"string"},"Uri":{"type":"string","readOnly":true}}},"ApiEquipmentInfoDto":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"Name":{"type":"string"},"Barcode":{"type":"string"},"Description":{"type":"string"},"Manfacturer":{"type":"string"},"Model":{"type":"string"},"SerialNumber":{"type":"string"},"DateInService":{"format":"date-time","type":"string"},"WarrantyPartExpDate":{"format":"date-time","type":"string"},"WarrantyLaborExpDate":{"format":"date-time","type":"string"},"RetiredDate":{"format":"date-time","type":"string"},"SpaceId":{"format":"int64","type":"integer"},"SpaceName":{"type":"string"},"ServiceCategoryName":{"type":"string"},"LocationId":{"format":"int64","type":"integer"},"LocationName":{"type":"string"},"Type":{"enum":["Equipment","Vehicle"],"type":"string"},"TrackingMetricType":{"enum":["Mileage","RuntimeHours"],"type":"string"},"IsVehicle":{"type":"boolean","readOnly":true}}},"GenericApiModel[Dictionary[Int32,String]]":{"description":"Returns Generic Model.","type":"object","properties":{"IsSuccessStatusCode":{"description":"Status code of the request","type":"boolean"},"Message":{"description":"Friendly message if the response code != 200","type":"string"},"Data":{"description":"Generic Data Model","type":"object","additionalProperties":{"type":"string"}},"IsUsingShelbyArenaAdvancedIntegration":{"description":"Shelby Arena integration","type":"boolean"}}},"EquipmentInputModel":{"description":"The input model for creating a new equipment object.","required":["Name"],"type":"object","properties":{"Name":{"description":"The name of the equipment","type":"string"},"Description":{"description":"The equipment description","type":"string"},"Manufacturer":{"description":"The equipment manufacturer","type":"string"},"Model":{"description":"The equipment model","type":"string"},"SerialNumber":{"description":"The equipment serial number","type":"string"},"DateInService":{"format":"date-time","description":"The date the equipment was put into service","type":"string"},"WarrantyPartExpDate":{"format":"date-time","description":"The date the equipment parts warranty expires","type":"string"},"WarrantyLaborExpDate":{"format":"date-time","description":"The date the equipment labor warranty expires","type":"string"},"ServiceCategoryIds":{"description":"The service category id the equipment belongs to","type":"array","items":{"format":"int64","type":"integer"}},"LocationId":{"format":"int64","description":"The location id the equipment belongs to","type":"integer"},"IsDeleted":{"description":"Flag indicating whether or not the equipment is deleted","type":"boolean"},"IsRetired":{"description":"Flag indicating whether or not the equipment is retired","type":"boolean"},"RetiredDate":{"format":"date-time","description":"The date the equipment was retired from service","type":"string"},"SpaceId":{"format":"int64","description":"The space the equipment resides in","type":"integer"},"EquipmentIdentifier":{"description":"The equipment identifier or barcode","type":"string"},"DefaultDocumentId":{"format":"int64","description":"the default document id for the equipment","type":"integer"},"Type":{"format":"int32","description":"the equipment type id for the equipment","type":"integer"},"TrackingMetricType":{"format":"int32","description":"the type of tracking metric for the equipment","type":"integer"},"CurrentMileage":{"format":"double","description":"the current mileage for the equipment","type":"number"},"CurrentRuntimeMinutes":{"format":"int32","description":"the current runtime minutes for the equipment","type":"integer"},"LastMetricsUpdate":{"format":"date-time","description":"the last time the metrics were updated for the equipment","type":"string"},"FuelType":{"format":"int32","description":"The fuel type for the equipment","type":"integer"},"CustomFuel":{"description":"The custom fuel type for the equipment","type":"string"},"UpdateFrequencyType":{"format":"int32","description":"the update frequency type for the equipment","type":"integer"},"UpdateFrequencyValue":{"format":"int32","description":"the update frequency value for the equipment","type":"integer"}}},"EquipmentDeleteOutputModel":{"description":"The output model when deleting an equipment object.","type":"object","properties":{"EquipmentId":{"format":"int64","description":"the id of the equipment that was deleted","type":"integer"},"Status":{"description":"the status of the equipment","type":"string"}}},"EventGetModel":{"description":"Represents an Event","required":["EventName","EventDate"],"type":"object","properties":{"EventName":{"type":"string"},"Description":{"type":"string"},"SetupStartDate":{"format":"date-time","type":"string"},"SetupStartTime":{"type":"string"},"EventDate":{"format":"date-time","type":"string"},"StartTime":{"type":"string"},"EventEndDate":{"format":"date-time","type":"string"},"EndTime":{"type":"string"},"TeardownEndDate":{"format":"date-time","type":"string"},"TearDownEndTime":{"type":"string"},"AdditionalDates":{"type":"array","items":{"format":"date-time","type":"string"}},"IsPublic":{"type":"boolean"},"NumOfPeople":{"format":"int32","type":"integer"},"IsAllDayEvent":{"type":"boolean"},"IsMultiDayEvent":{"type":"boolean"},"Categories":{"type":"array","items":{"$ref":"#/definitions/MinistryEventCategory"}},"AutoApprove":{"type":"boolean"},"OwnerId":{"format":"int64","type":"integer"},"PublicNotes":{"type":"string"},"PublicHtmlNotes":{"type":"string"},"PublicLink":{"type":"string"},"Locations":{"type":"array","items":{"$ref":"#/definitions/MinistryLocation"}},"PublicLocations":{"type":"array","items":{"$ref":"#/definitions/MinistryLocation"}},"IsOffSite":{"type":"boolean"},"OffsiteLocation":{"type":"string"},"Editors":{"type":"array","items":{"$ref":"#/definitions/MinistryEventEditor"}},"ScheduleId":{"format":"int64","type":"integer"},"ScheduleName":{"type":"string"},"EventId":{"format":"int64","type":"integer"},"Status":{"type":"string"},"PublicCalendarImageUrl":{"type":"string"},"Contacts":{"type":"array","items":{"$ref":"#/definitions/MinistryEventContacts"}},"IsFinalApproved":{"type":"boolean"},"EventScheduleIds":{"type":"string"},"EventScheduleNames":{"type":"string"},"SpacesOnPublicCalendarDisplay":{"type":"string"}}},"MinistryEventCategory":{"description":"Category","type":"object","properties":{"Id":{"format":"int64","description":"The category id","type":"integer"},"Name":{"description":"The name of the category","type":"string"},"IsPublic":{"description":"A flag that shows if event is available for public events","type":"boolean"}}},"MinistryLocation":{"description":"Location","type":"object","properties":{"Id":{"format":"int64","description":"The id of the location.","type":"integer"},"Name":{"description":"The name of the location.","type":"string"},"LocationCode":{"description":"A short code for the location.","type":"string"}}},"MinistryEventEditor":{"description":"This service allows you to retrieve all Ministry users.","type":"object","properties":{"Id":{"format":"int64","description":"The id of the editor","type":"integer"},"FirstName":{"description":"The first name of the editor.","type":"string"},"LastName":{"description":"The last name of the editor.","type":"string"}}},"MinistryEventContacts":{"description":"Contact","type":"object","properties":{"Id":{"format":"int64","description":"Id","type":"integer"},"FirstName":{"description":"Contact First Name","type":"string"},"LastName":{"description":"Contact Last Name","type":"string"},"Email":{"description":"Contact Email","type":"string"},"Phone":{"description":"Contact Phone","type":"string"},"Company":{"description":"Contact Company","type":"string"},"ContactId":{"format":"int32","description":"Contact Id","type":"integer"}}},"EventOccurrenceApiInfo":{"description":"Occurrences for an event","type":"object","properties":{"OccurrenceId":{"format":"int64","description":"The occurrence id","type":"integer"},"SetUpStart":{"format":"date-time","description":"Setup date/time for occurrence","type":"string"},"EventStart":{"format":"date-time","description":"Occurrence Start","type":"string"},"EventEnd":{"format":"date-time","description":"Occurrence End","type":"string"},"TearDownEnd":{"format":"date-time","description":"Teardown date/time for occurrence","type":"string"},"IsAllDay":{"description":"Denotes if occurrence is all-day","type":"boolean"},"OccurrenceStatus":{"description":"The occurrence status","type":"string"},"Items":{"type":"array","items":{"$ref":"#/definitions/ApiOccurrenceItemInfo"}},"EventName":{"description":"The event name","type":"string"},"EventId":{"format":"int64","description":"The event id","type":"integer"},"ScheduleId":{"format":"int64","description":"The schedule id","type":"integer"},"ScheduleName":{"description":"The schedule name","type":"string"},"EventStatus":{"description":"The status of the event","type":"string"},"PublicCalendarImageUrl":{"description":"The public image of the event","type":"string"},"IsPublic":{"type":"boolean"},"PublicNotes":{"type":"string"},"PublicHtmlNotes":{"type":"string"},"Contacts":{"type":"array","items":{"$ref":"#/definitions/MinistryEventContacts"}},"IsFinalApproved":{"type":"boolean"},"PublicLink":{"type":"string"}}},"ApiOccurrenceItemInfo":{"description":"The info about the schedulable items of an occurrence","type":"object","properties":{"ItemId":{"format":"int64","description":"The schedulable item id","type":"integer"},"ItemType":{"description":"The item type (Space/Resource/Service)","type":"string"},"Name":{"description":"The name of the schedulable item","type":"string"},"Qty":{"format":"int32","description":"The qty requested for a inventoried resource","type":"integer"}}},"MobileTreeNode":{"description":"Represents a leaf of the Event/Space Tree","type":"object","properties":{"ItemId":{"format":"int64","description":"The Space Id","type":"integer"},"ParentId":{"format":"int64","type":"integer"},"IsSchedulable":{"type":"boolean"},"HasScheduledChildren":{"type":"boolean"},"ChildrenIds":{"type":"string"},"IsScheduled":{"type":"boolean"},"HasSchedualbleChildren":{"type":"boolean"},"LocCode":{"type":"string"},"Capacity":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Children":{"type":"array","items":{"$ref":"#/definitions/MobileTreeNode"}},"HasChildren":{"type":"boolean"},"IsDraftConflicted":{"type":"boolean"},"IsInventoriedItem":{"type":"boolean"},"CurrentQtyOnHand":{"format":"int32","type":"integer"},"OriginalQty":{"format":"int32","type":"integer"},"ShortageCount":{"format":"int32","type":"integer"},"ItemType":{"type":"string"},"IsAvailabilityScheduleConflicted":{"type":"boolean"},"IsClosureConflicted":{"type":"boolean"}}},"EventCreateModel":{"description":"Represents an Event","required":["EventName","EventDate"],"type":"object","properties":{"EventName":{"type":"string"},"Description":{"type":"string"},"SetupStartDate":{"format":"date-time","type":"string"},"SetupStartTime":{"type":"string"},"EventDate":{"format":"date-time","type":"string"},"StartTime":{"type":"string"},"EventEndDate":{"format":"date-time","type":"string"},"EndTime":{"type":"string"},"TeardownEndDate":{"format":"date-time","type":"string"},"TearDownEndTime":{"type":"string"},"AdditionalDates":{"type":"array","items":{"format":"date-time","type":"string"}},"IsPublic":{"type":"boolean"},"NumOfPeople":{"format":"int32","type":"integer"},"IsAllDayEvent":{"type":"boolean"},"IsMultiDayEvent":{"type":"boolean"},"Categories":{"type":"array","items":{"format":"int64","type":"integer"}},"AutoApprove":{"type":"boolean"},"OwnerId":{"format":"int64","type":"integer"},"PublicNotes":{"type":"string"},"PublicLink":{"type":"string"},"Locations":{"type":"array","items":{"format":"int64","type":"integer"}},"PublicLocations":{"type":"array","items":{"format":"int64","type":"integer"}},"IsOffSite":{"type":"boolean"},"OffsiteLocation":{"type":"string"},"EditorIds":{"type":"array","items":{"format":"int64","type":"integer"}},"ScheduleId":{"format":"int64","type":"integer"},"EventId":{"format":"int64","type":"integer"}}},"EventCreatedApiModel":{"description":"The response for a succesful event create.","type":"object","properties":{"EventId":{"format":"int64","description":"The id of the new event.","type":"integer"},"ScheduleId":{"format":"int64","description":"The id of the new schedule.","type":"integer"},"ScheduleName":{"description":"The namne of the new schedule.","type":"string"},"OccurrenceId":{"format":"int64","description":"The id of the new occurrence.","type":"integer"},"Status":{"description":"The status of the new event.","type":"string"}}},"ResourceItem":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"Quantity":{"format":"int32","type":"integer"}}},"EventUpdatePublicInfo":{"description":"Represents public info of an event","type":"object","properties":{"EventId":{"format":"int64","type":"integer"},"PublicLink":{"type":"string"},"IsPublic":{"type":"boolean"},"PublicNotes":{"type":"string"},"ScheduleId":{"format":"int64","type":"integer"}}},"EventUpdatePublicLink":{"description":"Represents public link of an event","type":"object","properties":{"EventId":{"format":"int64","type":"integer"},"PublicLink":{"type":"string"},"IsPublic":{"type":"boolean"},"ScheduleId":{"format":"int64","type":"integer"}}},"ApiScheduledMaintenance":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"ServiceCategoryId":{"format":"int64","type":"integer"},"ServiceCategory":{"type":"string"},"LocationId":{"format":"int64","type":"integer"},"LocationName":{"type":"string"},"Notes":{"type":"string"},"StartDate":{"format":"date-time","type":"string"},"EndDate":{"format":"date-time","type":"string"},"Description":{"type":"string"},"AssignedId":{"format":"int64","type":"integer"},"VendorAssignedName":{"type":"string"},"VendorAssignedId":{"format":"int64","type":"integer"},"VendorContactId":{"format":"int64","type":"integer"},"AssignedDepartmentId":{"format":"int64","type":"integer"},"AssignedTo":{"type":"string"},"FrequencyDays":{"format":"int32","type":"integer"},"Frequency":{"type":"string"},"CustomDates":{"type":"string"},"WOLeadTime":{"format":"int32","type":"integer"},"RemindAllAdmins":{"type":"boolean"},"RemindAssigned":{"type":"boolean"},"RemindUser":{"type":"boolean"},"ReminderDaysLeadTime":{"format":"int32","type":"integer"},"ReminderNote":{"type":"string"},"RequiresApprovalAfterCompletion":{"type":"boolean"},"HasAttachments":{"type":"boolean"},"Attachments":{"type":"array","items":{"$ref":"#/definitions/ApiDocumentInfo"}},"HasSpaces":{"type":"boolean"},"Spaces":{"type":"array","items":{"$ref":"#/definitions/ApiItemInfo"}},"HasEquipment":{"type":"boolean"},"Equipment":{"type":"array","items":{"$ref":"#/definitions/ApiEquipmentInfoDto"}},"HasTasks":{"type":"boolean"},"Tasks":{"type":"array","items":{"$ref":"#/definitions/ApiScheduledMaintenanceTask"}},"HasWorkOrders":{"type":"boolean"},"WorkOrders":{"type":"array","items":{"$ref":"#/definitions/ApiWorkOrderInfo"}}}},"ApiScheduledMaintenanceTask":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"Description":{"type":"string"},"IsCompleted":{"type":"boolean"},"AssignedById":{"format":"int64","type":"integer"},"AssignedBy":{"type":"string"},"AssignedToUserId":{"format":"int64","type":"integer"},"AssignedToUser":{"type":"string"}}},"ApiInventoryRequestDto":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"RequestNumber":{"format":"int64","type":"integer"},"Comments":{"type":"string"},"Status":{"enum":["Draft","Submitted","Accepted","Completed","Declined","InProgress"],"type":"string"},"RequestedById":{"format":"int64","type":"integer"},"RequestedByFullName":{"type":"string"},"RequestedDate":{"format":"date-time","type":"string"},"ApprovedById":{"format":"int64","type":"integer"},"ApprovedByFullName":{"type":"string"},"ApprovedDate":{"format":"date-time","type":"string"},"AssignedToId":{"format":"int64","type":"integer"},"AssignedToFullName":{"type":"string"},"StartedById":{"format":"int64","type":"integer"},"StartedByFullName":{"type":"string"},"StartedDate":{"format":"date-time","type":"string"},"CompletedById":{"format":"int64","type":"integer"},"CompletedByFullName":{"type":"string"},"CompletedDate":{"format":"date-time","type":"string"},"WorkTime":{"format":"int32","type":"integer"},"RequestedItems":{"type":"array","items":{"$ref":"#/definitions/InventoryRequestItemDto"}}}},"InventoryRequestItemDto":{"type":"object","properties":{"Id":{"format":"int64","type":"integer"},"InventoryItemId":{"format":"int64","type":"integer"},"ItemTypeId":{"format":"int64","type":"integer"},"InventoryItemName":{"type":"string"},"InventoryItemAisle":{"type":"string"},"InventoryItemBin":{"type":"string"},"InventoryItemTypeName":{"type":"string"},"FromLocationId":{"format":"int64","type":"integer"},"ToLocationId":{"format":"int64","type":"integer"},"ToLocationName":{"type":"string"},"FromLocationName":{"type":"string"},"Quantity":{"format":"int32","type":"integer"},"QuantityOnHand":{"format":"int32","type":"integer"},"QuantityPending":{"format":"int32","type":"integer"},"RequestedQuantity":{"format":"int32","type":"integer"},"HasImagesOrBarcode":{"type":"boolean"},"ItemNumber":{"type":"string"},"AvailableQuantity":{"format":"int32","type":"integer"},"InventoryRequestStatus":{"enum":["Draft","Submitted","Accepted","Completed","Declined","InProgress"],"type":"string"},"UnitCost":{"format":"double","type":"number"}}},"MaintenanceCreateInputModel":{"description":"The input model for creating a new scheduled maintenance object.","required":["ServiceCategoryId","LocationId","StartDate","Description","RequiresApprovalAfterCompletion","PreventNewWoFromBeingCreatedIfPreviousIsNotComplete"],"type":"object","properties":{"ServiceCategoryId":{"format":"int64","description":"the service category id for the maintenance","type":"integer"},"LocationId":{"format":"int64","description":"the location id for the maintenance","type":"integer"},"MaintenanceType":{"format":"int32","description":"the maintenance type id for the maintenance","type":"integer"},"VendorAssignedId":{"format":"int64","description":"the vendor who should be assigned to the maintenance.","type":"integer"},"AssignedVendorContactId":{"format":"int64","description":"The vendor contact that should be assigned to the scheduled maintenance.","type":"integer"},"Notes":{"description":"Notes about the scheduled maintenance.","type":"string"},"StartDate":{"format":"date-time","description":"The date the scheduled maintenance should start.","type":"string"},"EndDate":{"format":"date-time","description":"The date the scheduled maintenance should end.","type":"string"},"Description":{"description":"The description of the scheduled maintenance.","type":"string"},"AssignedUserId":{"format":"int64","description":"The ministry user assigned to the scheduled maintenance.","type":"integer"},"AssignedDepartmentId":{"format":"int64","description":"The department assigned to the scheduled maintenance.","type":"integer"},"XDaysAfterGenerated":{"format":"int32","description":"The lead time for the work order to be generated.","type":"integer"},"IsRecurring":{"description":"A flag to determine whether this scheduled maintenance should recur. Default true.","type":"boolean"},"XDaysPriorToCreateWo":{"format":"int32","description":"Number of days prior to the scheduled maintenance that a work order should be created.","type":"integer"},"ReminderType":{"format":"int32","description":"A semaphore flag to determine who the scheduled maintenance reminder should be sent to.","type":"integer"},"ReminderInDays":{"format":"int32","description":"The number of days prior to the scheduled maintenance that a reminder should be sent.","type":"integer"},"NextReminderDate":{"format":"date-time","description":"The date the next reminder should be sent.","type":"string"},"ReminderText":{"description":"The note to be included in the reminder.","type":"string"},"NextScheduledTime":{"format":"date-time","description":"The date the scheduled maintenance work order should be generated.","type":"string"},"FrequencyTypeId":{"format":"int32","description":"The frequency type id for the scheduled maintenance.","type":"integer"},"CustomDates":{"description":"The list of custom dates for the scheduled maintenance.","type":"array","items":{"format":"date-time","type":"string"}},"GenerateNextDateBasedOnLastCompleted":{"description":"Flag indicating whether the next scheduled maintenance should be generated based on the last completed date or on the last generated date.","type":"boolean"},"RequiresApprovalAfterCompletion":{"description":"Flag indicating whether work orders genereated because of this schedule require approval after completion.","type":"boolean"},"PreventNewWoFromBeingCreatedIfPreviousIsNotComplete":{"description":"Flag indicating whether a new work order should be created if the previous work order is not complete.","type":"boolean"},"StartRunTimeMinutes":{"format":"int32","description":"The beginning run time counter for scheduled maintenance.","type":"integer"},"ThresholdRunTimeMinutes":{"format":"int32","description":"The threshold for generating work orders based on minutes.","type":"integer"},"RepeatRunTimeMinutes":{"format":"int32","description":"The repeat run time minutes for generating a work order","type":"integer"},"NextScheduledRunTimeMinutes":{"format":"int32","description":"The next scheduled run time minutes for generating a work order.","type":"integer"},"StartMileage":{"format":"float","description":"The start mileage for the scheduled maintenance.","type":"number"},"ThresholdMileage":{"format":"float","description":"The threshold mileage for generating a work order.","type":"number"},"RepeatMileage":{"format":"float","description":"The repeat mileage for generating a work order.","type":"number"},"NextScheduledMileage":{"format":"float","description":"The next scheduled mileage for generating a work order.","type":"number"}}},"MaintenanceCreateTaskInputModel":{"description":"the model for the input of the create maintenance endpoint","type":"object","properties":{"TaskTemplateId":{"format":"int64","description":"the id of the task template to use","type":"integer"},"Description":{"description":"the description of the task","type":"string"},"AssignedToUserId":{"format":"int64","description":"the id of the user to assign the task to","type":"integer"},"Priority":{"format":"int32","description":"the priority of the task","type":"integer"},"TotalMinutes":{"format":"int32","description":"the estimated minutes the task will take to accomplish","type":"integer"}}},"MaintenanceUpdateInputModel":{"description":"The input model for creating a new scheduled maintenance object.","required":["MaintenanceId","Description"],"type":"object","properties":{"MaintenanceId":{"format":"int64","description":"The id of the maintenance to update.","type":"integer"},"ServiceCategoryId":{"format":"int64","description":"the service category id for the maintenance","type":"integer"},"LocationId":{"format":"int64","description":"the location id for the maintenance","type":"integer"},"MaintenanceType":{"format":"int32","description":"the maintenance type id for the maintenance","type":"integer"},"VendorAssignedId":{"format":"int64","description":"the vendor who should be assigned to the maintenance.","type":"integer"},"AssignedVendorContactId":{"format":"int64","description":"The vendor contact that should be assigned to the scheduled maintenance.","type":"integer"},"Notes":{"description":"Notes about the scheduled maintenance.","type":"string"},"StartDate":{"format":"date-time","description":"The date the scheduled maintenance should start.","type":"string"},"EndDate":{"format":"date-time","description":"The date the scheduled maintenance should end.","type":"string"},"Description":{"description":"The description of the scheduled maintenance.","type":"string"},"AssignedUserId":{"format":"int64","description":"The ministry user assigned to the scheduled maintenance.","type":"integer"},"AssignedDepartmentId":{"format":"int64","description":"The department assigned to the scheduled maintenance.","type":"integer"},"XDaysAfterGenerated":{"format":"int32","description":"The lead time for the work order to be generated.","type":"integer"},"IsRecurring":{"description":"A flag to determine whether this scheduled maintenance should recur. Default true.","type":"boolean"},"XDaysPriorToCreateWo":{"format":"int32","description":"Number of days prior to the scheduled maintenance that a work order should be created.","type":"integer"},"ReminderType":{"format":"int32","description":"A semaphore flag to determine who the scheduled maintenance reminder should be sent to.","type":"integer"},"ReminderInDays":{"format":"int32","description":"The number of days prior to the scheduled maintenance that a reminder should be sent.","type":"integer"},"NextReminderDate":{"format":"date-time","description":"The date the next reminder should be sent.","type":"string"},"ReminderText":{"description":"The note to be included in the reminder.","type":"string"},"NextScheduledTime":{"format":"date-time","description":"The date the scheduled maintenance work order should be generated.","type":"string"},"Frequency":{"format":"int32","description":"The number of frequency units for the scheduled maintenance.","type":"integer"},"FrequencyTypeId":{"format":"int32","description":"The frequency type id for the scheduled maintenance.","type":"integer"},"CustomDates":{"description":"The list of custom dates for the scheduled maintenance.","type":"array","items":{"format":"date-time","type":"string"}},"GenerateNextDateBasedOnLastCompleted":{"description":"Flag indicating whether the next scheduled maintenance should be generated based on the last completed date or on the last generated date.","type":"boolean"},"RequiresApprovalAfterCompletion":{"description":"Flag indicating whether work orders genereated because of this schedule require approval after completion.","type":"boolean"},"PreventNewWoFromBeingCreatedIfPreviousIsNotComplete":{"description":"Flag indicating whether a new work order should be created if the previous work order is not complete.","type":"boolean"},"StartRunTimeMinutes":{"format":"int32","description":"The beginning run time counter for scheduled maintenance.","type":"integer"},"ThresholdRunTimeMinutes":{"format":"int32","description":"The threshold for generating work orders based on minutes.","type":"integer"},"RepeatRunTimeMinutes":{"format":"int32","description":"The repeat run time minutes for generating a work order","type":"integer"},"NextScheduledRunTimeMinutes":{"format":"int32","description":"The next scheduled run time minutes for generating a work order.","type":"integer"},"StartMileage":{"format":"float","description":"The
[...]
